#first{
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
   background-color:rgb(149, 102, 232);
   background-blend-mode: screen;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh; 
   
}

    
.card{
    border-radius: 5%;
}
.sec{
    position: absolute;
   
}
.tri{
    position: relative;
}
.card-img{
    width: 60vh;
    height: 60vh;
   margin-top: 50px;
   text-align: right;
}
.box-img{
    position: relative;
    margin-top: 150px;
}
.card-body{
    width:40vh;
    float: right;
    margin: 50px 50px ;
}
.ma:hover{
    color: hsl(14, 88%, 65%);
}
.ma{
    color:hsl(237, 12%, 33%);
    text-decoration: none;
}
.ma a:active{
    color: hsl(240, 6%, 50%);
    font-weight: 700;
}
.ans{
    max-height: 0;
    overflow: hidden;
    position: relative;
    font-weight: 400;
    color:hsl(240, 6%, 50%);
    transition: max-height 650ms;
}
.hr{
   color: hsl(240, 5%, 91%);
}
.ans::before{
    content: "";
    position: absolute;
    width: 6rem;
    height: 90%;
    left: 0;
    top: 50%;
    transform: translateY(-58%);

}
.ans p{
    padding: 2rem;
}
.Qa:target .ans{
    max-height: 20rem;
}
@media(max-width:375px){
    #woman{
        content:url("illustration-woman-online-mobile.svg");
        top: 0%;
      position:absolute;
     
      width:15vh;
      height:15vh;
      text-align: center;
    }
    #pattern{
        content:url("bg-pattern-mobile.svg");
      postion:absoute  ;
     
    }
  .box-img{
    display:none;
  }
}
